body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color:slateblue;

}

h1{
    color: white;
    font-family: cursive;
    font-size: 2em;
}

.year{
    font-family: cursive;
    font-size: 3.5em;
    color: white;
}

.countdown{
    background-color: rgba(0,0,0,.2);
    margin: 30px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    align-items: center;

    
}

.countdown div{
    padding: 20px;
    font-size: 2.5em;
    margin-top: -25px;
    font-weight:400;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    
    
}

.countdown div::before{
    content:" ";
    display: flex;
    position: absolute;
    bottom: -25px;
    font-size: .3em;
    text-align: center;
    width: 100%;
    height: 35px;
    letter-spacing: 1px;
    
}


.countdown #day::before{
    content: "Days";
}


.countdown #hour::before{
    content: "Hours";
}


.countdown #minute::before{
    content: "Minutes";
}


.countdown #second::before{
    content: "Seconds";
}


